torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
torchmetrics==1.8.2
numpy==2.3.0
scipy==1.17.0
tqdm
matplotlib
pandas==2.3.3
wandb
comet_ml
hydra-core
soundfile
black
isort
pre-commit
pystoi
pesq
librosa

